<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WaitTimeout" value="5"/>
    <add key="TestDataRelativePath" value="TestData/UserData.xlsx"/>
    <add key="TestDataConnectionString" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source = {0};Extended Properties=Excel 12.0;"/>
    <add key="DemoQATopUrl" value="http://demoqa.com" />
    <add key="DemoQARegistrationPageRelativeUrl" value="/registration/"/>
  </appSettings>
</configuration>